__pycache__/
.ipynb_checkpoints/

*.pyc
*.pyo
*.log

.venv/
venv/
env/

.vscode/
.idea/

data/raw/*.csv
!data/raw/.gitkeep
data/processed/*.csv
!data/processed/.gitkeep

outputs/models/*.pkl
outputs/models/*.joblib
